{{ define "main" }}
  {{ partial "shared/section-title" . }}

  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: About -->
    <section>
      <div class=" wow fadeIn container">
        <div class="row">
          <div class="col-md-12">
            <img loading="lazy" class="pull-left flip mr-15 thumbnail" src="{{ .Params.image }}" alt="Intellident team">
            <h4 class="text-uppercase text-theme-colored2 mt-sm-10">{{ .Params.head | safeHTML }}</h4>
            <h2 class="mt-0">{{ .Params.motto | safeHTML }}</h2>
            <p class="text-justify">
              {{ .Params.bio | safeHTML }}
              <h3 class="text-theme-colored mb-0">{{ .Params.greetings | safeHTML }}</h3>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
{{ end }}