<section>
    <div class="container pt-0 pb-0">
      <div class="section-content">
        <div class="row equal-height-inner mt-sm-0" data-margin-top="-110px">

          <div class="col-sm-12 col-md-3 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
            <div class="sm-height-auto bg-theme-colored">
              <div class="p-30">
                <h3 class="text-uppercase text-white mt-0">{{.Params.box_1.title}} <br></h3>
                <p class="text-white">{{.Params.box_1.text}}</p>
                <a href="{{ .Params.box_1.url | absLangURL}}" class="btn btn-border btn-circled btn-transparent btn-sm btn-main-card">{{ T "read_more"}}</a>
              </div>
            </div>
          </div>

          <div
            class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
            <div class="sm-height-auto bg-theme-colored2">
              <div class="p-30">
                <h3 class="text-uppercase text-white mt-0">{{.Params.box_2.title}} <br></h3>
                <p class="text-white">{{.Params.box_2.text}}</p>
                <a href="{{ .Params.box_2.url | absLangURL}}" class="btn btn-border btn-circled btn-transparent btn-sm btn-main-card">{{ T "read_more"}}</a>
              </div>
            </div>
          </div>

          <div
            class="col-sm-12 col-md-3 pl-0 pr-0 pl-sm-15 0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay3">
            <div class="sm-height-auto bg-theme-colored">
              <div class="p-30">
                <h3 class="text-uppercase text-white mt-0">{{.Params.box_3.title}} <br></h3>
                <p class="text-white">{{.Params.box_3.text}}</p>
                <a href="{{ .Params.box_3.url | absLangURL}}"
                  class="btn btn-border btn-circled btn-transparent btn-sm btn-main-card">{{ T "read_more"}}</a>
              </div>
            </div>
          </div>

          {{ with .Site.GetPage "contact" }}
          <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay4">
            <div class="sm-height-auto bg-theme-colored2">
              <div class="p-30">
                <h3 class="text-uppercase text-white mt-0">{{ T "opening_hours" }}</h3>
                <div class="opening-hours">
                  <ul class="list-unstyled text-white">
                    <li class="clearfix"> <span>{{ .Params.opening_line_1.days}}</span>
                      <div class="value"> {{ .Params.opening_line_1.time}} </div>
                    </li>
                    <li class="clearfix"> <span>{{ .Params.opening_line_2.days}}</span>
                      <div class="value"> {{ .Params.opening_line_2.time}}</div>
                    </li>
                    <li class="clearfix"> <span>{{ .Params.opening_line_3.days}}</span>
                      <div class="value">{{ .Params.opening_line_3.time}}</div>
                    </li>
                  </ul>
                </div>
                <a class="btn btn-border btn-circled btn-transparent btn-sm mt-20" href='{{if eq $.Site.Language "en"}}/en{{end}}/#contact'>{{ T "contact_us" }}</a>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>