{{ define "main" }}
<!-- Start main-content -->
<div class="main-content">
    {{ partial "shared/section-title" . }}

    <!-- Section: Team -->
    <section id="team">
        <div class="container">
            <div class="row mtli-row-clearfix">

                {{ range .Pages }}

                <div class="col-xs-12 col-sm-6 col-md-3 sm-text-center mb-30 mb-sm-30 wow fadeInDown">
                    <a href="{{.Permalink }}">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400  bg-deep">
                            <div class="team-thumb">
                                <img class="img-fullwidth img-team-list" alt="doctor" src="{{.Params.image}}">
                                <div class="team-overlay"></div>
                            </div>
                            <div class="team-details p-10 text-left" style="height: 215px;">
                                <h4 class="text-uppercase font-weight-600 m-5">{{.Params.title}}</h4>
                                <label class="font-12 p-5 font-weight-600 mt-0"
                                    style="width:100%;">
                                    {{ range $index, $element := .Params.positions }}{{if lt 0 $index }}, {{end}}{{$element | upper}}{{end}}
                                </label>
                            </div>
                            <a href="{{.Permalink}}" class="btn btn-border btn-circled btn-transparent btn-team-card">{{ T "read_more"}}</a>
                        </div>
                    </a>
                </div>

                {{end}}

            </div>

        </div>
    </section>



</div>
<!-- end main-content -->

{{ end }}