{{ define "main" }}
    {{ partial "shared/section-title" . }}

    <!-- Start main-content -->
    <div class="main-content">
        <section>
            <div class="container">
                <div class="section-content">
                    <div class="row text-center">
                        <div class="wow fadeInLeft col-md-6">
                            <h4 class="name font-24 mt-0 mb-0">{{.Params.title | upper }}</h4>
                            <h6 class="mt-5 text-theme-colored">
                                {{ range $index, $element := .Params.positions }}
                                {{if lt 0 $index }}
                                |
                                {{end}}
                                {{$element | upper}}
                                {{end}}

                            </h6>
                            <br>
                            <div class="team-img-single">
                                <img loading="lazy" src="{{.Params.image}}" alt="doctor">
                            </div>
                            {{if( gt (len .Params.cv) 1)}}
                                <div class="row">
                                    <a href="{{.Params.cv}}" target='_blank'>
                                        <button class="btn btn-theme-colored btn-lg btn-circled mt-30">{{ T "cv" }}</button>
                                    </a>
                                </div>
                            {{end}}
                            <br>
                            <p class="text-justify">
                                {{.Params.bio | safeHTML }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            {{ if ( gt ( len .Params.timeline ) 0)  }}
                                {{ partial "shared/timeline" (dict "timeline" .Params.timeline)}}
                            {{ end }}
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
{{ end }}