<!-- Footer -->
<footer id="footer" class="footer bg-black-111">
	<div class="container pt-70 pb-40">
		<div class="row border-bottom-black">
			
			<div class="col-md-3 col-sm-6 text-center">
				<div class="widget dark">
					<img loading="lazy" class="mt-10 mb-20 footer-logo" alt="logo" src="/images/footer/logo-white.png" style="width: 50%">
					<br>
					<img loading="lazy" class="wow fadeIn mb-0 footer-logo width-10 footer-teeth" alt="logo" src="/images/footer/footer_teeth.png">
					{{ with .Site.GetPage "contact" }}
						<!-- <p>{{ .Params.footer_description }}</p> -->
					{{end }}
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6">
				<div class="widget dark">
					<h5 class="widget-title line-bottom">{{ T "useful_links"}}</h5>
					<ul class="list-border">
						<li><a href='{{ "/pages/about/" | absLangURL }}'>{{ T "about_us"}}</a></li>
						<li><a href='{{ "/treatments/" | absLangURL }}'>{{ T "treatments"}}</a></li>
						<li><a href='{{ "/pages/prices/" | absLangURL }}'>{{ T "prices"}}</a></li>
						<li><a href='{{ "/pages/cbct/" | absLangURL }}'>CBCT</a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6">
				<div class="widget dark">
					<h5 class="widget-title line-bottom">{{ T "other"}}</h5>
					<ul class="list-border">
						<li>
							{{ if eq .Site.Language.LanguageName "Magyar" }}
								<a href="/ajax-load/modal-general-conditions-hu.html" class="ajaxload-popup">{{ T "terms_conditions" }}</a>
							{{ end }}
							{{ if eq .Site.Language.LanguageName "English" }}
								<a href="/ajax-load/modal-general-conditions-en.html" class="ajaxload-popup">{{ T "terms_conditions" }}</a>
							{{ end }}
						</li>
						<li><a href="/ajax-load/modal-imprint.html" class="ajaxload-popup">{{ T "imprint" }}</a></li>
						<li><a href="/ajax-load/modal-site-terms.html" class="ajaxload-popup">{{ T "terms_of_use"
								}}</a></li>
						<li><a href="/ajax-load/modal-privacy-policy-v2.html" class="ajaxload-popup">{{ T "privacy_notice" }}</a>
						</li>
					</ul>
				</div>
			</div>
			{{ with .Site.GetPage "contact" }}
			<div class="col-md-3 col-sm-6">
				<div class="widget dark">
					<h5 class="widget-title line-bottom">{{ T "opening_hours" }}</h5>
					<div class="opening-hours">
						<ul class="list-border">
							<li class="clearfix"> <span> {{ .Params.opening_line_1.days}} </span>
								<div class="value pull-right flip"> {{ .Params.opening_line_1.time}} </div>
							</li>
							<li class="clearfix"> <span> {{ .Params.opening_line_2.days}} </span>
								<div class="value pull-right flip"> {{ .Params.opening_line_2.time}} </div>
							</li>
							<li class="clearfix"> <span> {{ .Params.opening_line_3.days}} </span>
								<div class="value pull-right flip"> {{ .Params.opening_line_3.time}} </div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
	<div class="footer-bottom bg-black-222">
		<div class="container pt-10 pb-0">
			{{ with .Site.GetPage "home" }}

				<div class="row">
					<div class="col-md-12 mb-10 text-center">
						<p class="font-13 text-black-777 m-0">{{ .Params.copyright | safeHTML }}</p>
					</div>
				</div>
			{{ end }}

		</div>
	</div>
</footer>