{{ $jQueryJS := resources.Get "/js/jquery-2.2.4.min.js" }} 
{{ $jQueryUiJS := resources.Get "/js/jquery-ui.min.js" }} 
{{ $bootstrapJS := resources.Get "/js/bootstrap.min.js" }}
{{ $jQueryPluginJS := resources.Get "/js/jquery-plugin-collection.js" }}

{{ $revolutionToolsJS := resources.Get "/js/revolution-slider/js/jquery.themepunch.tools.min.js" }}
{{ $revolutionJS := resources.Get "/js/revolution-slider/js/jquery.themepunch.revolution.min.js" }}

{{ $secureHeaderJS := slice $jQueryJS $jQueryUiJS $bootstrapJS $jQueryPluginJS $revolutionToolsJS $revolutionJS | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}

<script
	src="{{ $secureHeaderJS.RelPermalink }}"
	integrity="{{ $secureHeaderJS.Data.Integrity }}"
></script>