{{ $banner := "images/pattern/bg_100.png" }}
{{ with .Sites.First.GetPage "/theme-settings.md" }}
  {{ $banner = .Params.banner}}
{{ end }}
<section
class="inner-header divider layer-overlay overlay-white-8"
data-bg-img="{{$banner}}"
style="background-attachment: fixed;background-size: fill;">
<div class="container pt-40 pb-30">
  <!-- Header Content -->
  <div class="section-content">
    <div class="row"> 
      <div class="col-sm-8 text-left flip xs-text-center">
        <h2 class="title section-title custom-font pt-20 sm-font-30 xs-font-28">{{.Params.Title}}</h2>
      </div>
      <div class="col-sm-4">
        <ol class="breadcrumb text-right xs-text-center text-black mt-30">
          <li><a href='{{ "/" | absLangURL }}'>{{ T "homepage" }}</a></li>
          {{ if .Params.types }}
            {{if not (eq .Params.types "pages") }}
              <li><a href="{{ .Params.types | absLangURL }}">{{ T .Params.types }}</a></li>
            {{ end }}
          {{ end }}
          <li class="active text-theme-colored">{{.Params.Title}}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
</section>