<html dir="ltr" lang="hu">

<head>

    <!-- Meta Tags -->
    {{ partial "shared/metadata" .}}

    <!-- Page Title -->

    <title> {{.Site.Title}} | {{.Title}} </title>

    <!-- Favicon and Touch Icons -->
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- CSS | Theme Color -->
    {{ partial "shared/links" . }}

    <!-- Header Scripts -->
    {{ partial "shared/header-scripts" }}

</head>

<body class="">
    <div id="wrapper">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <div class="preloader-dot-loading">
                    <img src="/uploads/images/preloaders/tooth.gif" height="120px" style="margin-bottom:20px;" width="300px" alt="preloader">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm hidden">{{ T "disable_preloader" }}</div>
        </div>

        <!-- HEADER -->
        {{ partial "shared/header" . }}

        <!-- MAIN -->
        {{ block "main" . }}{{ end }}

        <!-- FOOTER -->
        {{ partial "shared/footer" . }}

        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->
    {{ partial "shared/footer-scripts" }}

    <!-- COOKIE BAR -->
	<div class="cookie-banner animated fadeInUp">
		<div>
            <p>
                {{ T "cookie_text" }}<br>
                <a href="/ajax-load/modal-cookie-policy.html" class="ajaxload-popup">{{ T "view_cookie_policy" }}</a>
			</p>
            <p>
                <a class="banner-accept btn btn-sm btn-cookie-accept mt-2" style="cursor: pointer">{{ T "iaccept" }}</a>
            </p>
		</div>
	</div>
</body>

</html>